@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" style="background:100% 100%;">
    
   
    <h3 style="font-family:verdana;">Kitaba Dair Herşey...</h3>
    <p class="lead">
        <marquee behavior=alternate >
            <img src="~/Content/Image/resim2.jpg" width="600" height="250" />
            <img src="~/Content/Image/anafoto.jpg" width="600" height="250" />
            <img src="~/Content/Image/arkaplan.jpg" width="600" height="250" />



        </marquee>
        
    </p>
   
   
</div>

<div class="row">
    <div class="col-md-4">
       
        <p>
          

                <img src="~/Content/Image/kapa2.jpg" style="margin-left:50px" width="250" height="150" />

           
            
        </p>
        
    </div>
    <div class="col-md-4">
        
        <p><img src="~/Content/Image/kapak.jpg" width="250" height="150" /></p>
        
    </div>
    <div class="col-md-4">
       
        <p><img src="~/Content/Image/kapak3.jpg"  width="250" height="150" /></p>
       
    </div>
</div>